.who-payed-card {
  max-width: 400px;
  margin-top: 167px;
  background: #f5f8fa;
  padding: 25px;
  display: inline-block;
  margin-inline: 10px;
}

.pay-requests-card {
  max-width: 400px;
  margin-top: 167px;
  background: #f5f8fa;
  padding: 25px;
  display: inline-block;
  margin-inline: 10px;
}

mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}
