<div class="card-container" >
  <mat-card class="overview-card">

    <mat-card-header class="who-payed-card-header-text">
      <mat-card-title>Overzicht</mat-card-title>
      <mat-card-subtitle>In dit overzicht zie je alle informatie betreft de ingevulde transactie code.<br><br></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <h3>Betaald</h3>
      <p>Wie heeft wat betaald.</p>
      <br>

      <app-accordion *ngFor="let payment of paymentResult$| async; index as i">
          <app-accordion-item title={{generateAccordionTitle(payment)}} description={{payment.description}} date={{payment.dateAdded}}></app-accordion-item>
      </app-accordion>

      <br>
      <i>Totaal is er voor <b>€</b></i>
      <i><b>{{totalAmount}}</b></i>
      <i> verbrast.</i>
      <br><br>

      <h3>Verzoekjes</h3>
      <p>Wat is er betaald.</p>
      <br>

      <app-accordion *ngFor="let request of requestResult$| async; index as i">
        <app-accordion-item title={{generateAccordionTitle(request)}}  description={{request.description}} date={{request.dateAdded}}></app-accordion-item>
      </app-accordion>

    </mat-card-content>
  </mat-card>
</div>
